body{background-color: rgb(151, 15, 15);
}
h1{border-bottom: 4px solid black;
    text-shadow: 3px 4px 4px ;
    padding: 7px;}

h2{ color: yellow;
}



p{ color: darkorange;
    text-align: center;

}

.boje{
    color:beige
}
.okvir{
    border: 3px solid black;
    padding: 10px;
    text-align: center;
}